<!DOCTYPE html>
<html lang="en">
<head th:replace="~{plantilla/fragmentos.html :: headfiles}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="plantilla/fragmentos.html :: navigation"></div>

        <h3>Crear reserva deportiva</h3>

        <form method="post" th:object="${reserva}" class="needs-validation" novalidate>
            <input type="number" hidden name="id" th:value="${reserva.id}" />
        
            <div class="mb-3">
                <label for="instalacion" class="form-label">Instalación</label>
                <select id="instalacion" name="instalacion.id" class="form-control" required>
                    <option value="" disabled selected>Seleccione una instalación</option>
                    <option th:each="instalacion : ${instalaciones}"
                            th:value="${instalacion.id}"
                            th:text="${instalacion.nombre}"
                            th:selected="${reserva.instalacion?.id == instalacion.id}">
                    </option>
                </select>
            </div>            
        
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form> 
        
        

        <div th:replace="plantilla/fragmentos.html ::footer"></div>
    </div>
</body>
</html>