<!DOCTYPE html>
<html lang="en">
<head th:replace="plantilla/fragmentos.html :: headfiles">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">    
    <div th:replace="plantilla/fragmentos.html :: navigation"></div>
    <div>
        <h1>Detalle instalacion</h1>
        <form th:action="@{/instalacion-detalle/horarios}" method="get">
            <div>
                <label for="idInstalacion">Seleccionar instalacion</label>
                <select name="idInstalacion" id="idInstalacion" required>
                    <option value="" disabled selected>Seleccione una instalacion</option>
                    <option th:each="instalacion:${instalaciones}" th:value="${instalacion.id}" th:text="${instalacion.nombre}"></option>
                </select>
            </div>
            <button type="submit">Mostrar Horarios</button>
        </form>
        <div th:replace="plantilla/fragmentos.html :: footer"></div>
    </div>
    
</body>
</html>