<!DOCTYPE html>
<html lang="en">
<head th:replace="plantilla/fragmentos.html :: headfiles">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">    
    <div th:replace="plantilla/fragmentos.html :: navigation"></div>
    <h1>Detalle de la instalacion</h1>
    <div th:if="${instalacion}">
        <h2>Instalacion:<span th:text="${instalacion.nombre}"></span></h2>
        <h3>Horarios</h3>
        <ul>
            <li th:each="horario:${horarios}">
                <span th:text="${horario.horaInicio}"></span>-
                <span th:text="${horario.horaFin}"></span>
            </li>
        </ul>
        <div th:replace="plantilla/fragmentos.html :: footer"></div>
    </div>
</body>
</html>