<!DOCTYPE html>
<html lang="en">
<head th:replace="~{plantilla/fragmentos.html :: headfiles}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
          background-image: url('src\main\resources\static\img\pabellon.png');
        }
      </style>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="plantilla/fragmentos.html :: navigation"></div>

        <h3>Editando sus datos personales</h3>

        <div class="container">
            <div class="border  rounded-3 m-2 p-2 border-2">
              <form action="/register" method="POST">
                <div class="row">
                    <div class="col-6">
                        <label for="username" class="form-label">Nombre de Usuario:</label>
                        <input name="username" id="username" type="text" class="form-control" />
                    </div>
                    <div class="col-6">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input name="password" id="password" type="password" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico:</label>
                        <input name="email" id="email" type="email" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Acepta las condiciones:</label>
                        <input type="checkbox" class="form-check-input" required />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Registrarse</button>
                    </div>
                </div>
            </form>
            </div>
          </div>
        <div th:replace="plantilla/fragmentos.html ::footer"></div>
    </div>
</body>
</html>